/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
body {
	.site-content {
		@include container;
		background-color: #fff;
	}

	.content-area {
		width: 95%;
		
		padding-top: $base__space-unit * 2;
		padding-bottom: $base__space-unit * 2;
		margin: 0 auto;
		margin-left: 4%;
		// max-width: 960px;
		padding-left: 2.5%;
		padding-right: 2.5%;
  
	}

} 

/*Button*/

.btn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #E2D1A6;
  font-size: 16px;
  background: #030303;
  padding: 8px 25px 8px 25px;
  text-decoration: none;
  a{
  	text-decoration: none;
  	color: #E2D1A6;
  }
}

.btn:hover {
  background: #4A4A4A;
  text-decoration: none;
  color: #E2D1A6;
}

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
