/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
body {
	.site-content {
		@include container;
		background-color: #fff;
	}

	.content-area {
		width: 95%;
		
		padding-top: $base__space-unit * 2;
		padding-bottom: $base__space-unit * 2;
		margin: 0 auto;
		max-width: 960px;
		padding-left: 2.5%;
		padding-right: 2.5%;
  
	}

} 

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
