/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */
.site-header { 
    margin-top: 200px;
    display: block;

}

.main-navigation {
	clear: both;
	width: 100%;
	background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=70); /* For IE8 and earlier */
	position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:99;
    clear: both;
    border-bottom: 1px solid #e4e4e4;

	.menu-main-navigation-container {
		margin: 0 auto;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	li {
		float: left;

		

		a {
			padding: ($base__space-unit / 2) $base__space-unit;
		}

		&:hover > a,
		&:focus > a {
			color: #D0A947;
			

		}
	}

	a {
		color: #4A4A4A;
		display: block;
		font-weight: 400;
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Oswald', sans-serif;
			
	}

	.current_page_item,
	.current-menu-item,
	.current_page_ancestor {

		&:after {
			content: "";
			background-color: #D0A947;
			display: block;
			height: 3px;
			margin-top: -3px;
			width: 100%;
		}

       


		& > a {
			color: black;
		}
	}



	.header-search {
		float: right;
		padding-top: 5px;

		fieldset {
			border: 0;
			padding: 0;
		}

		label {
			display: inline;
			font-weight: normal;
			margin-bottom: 0;
		}

		// input[type="search"],
		// button {
		// 	background-color: transparent;
		// 	border: none;
		// 	border-radius: 0;
		// 	outline: 0;
		// }

		// button {
		// 	color: gray;
		// 	@include font-size(1);
		// 	padding: 0;
		// }
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
