/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.see-all{
   float: right;
   a {
       font-family: 'Oswald', sans-serif;
       text-transform: uppercase;
       color: #4A4A4A;
   }
}


.gallery-bg {
	background:
   url('../../images/portfolio-banner.jpg') fixed center no-repeat;
   height: 250px;
   background-size: 100%;
   color: white;
}



.testimonials {

// .bx-wrapper, .bx-viewport {
//     height: auto !important;
// }
   

   .review-content{ 
   }

   ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-left: 0;
      margin-bottom: 0;
      width: 100%;
      
   }

   li {
      // flex: 1 0 50%;
      display: flex;
      padding: $base__space-unit;
      // max-width: 49%;
   }

   img {
      margin-right: $base__space-unit;
      width: 150px;
      min-width: 150px;
      height: 150px;
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
   }

   .reviewer-name,
   .reviewer-creds {
      margin-bottom: 0;
   }

   .reviewer-name {
      font-weight: bold;
   }
   .company-link{
      
      a {
         // text-decoration: none;
         color: #fff;
      }
   }
}






.bx-clone{
   width: 100%;
}

.grey-bg{
   background-color: #4A4A4A;
   margin: 0 auto;
}

// Resume

.resume{
   display: flex;
   flex-direction: column;
   margin-left: auto;
   margin-right: auto;
   align-items: center;
  justify-content: center;
   a{
      color: #ffffff;
      font-size: 26px;
      font-family: 'Open Sans', sans-serif;
      line-height: 2;
   }
   .fa-linkedin-square{

   color: #E2D1A6;
   font-size: 36px;
}
}

// Skiills page 

.technical {

}
.teal-bg {
	background: #2D6B7A;
	.soft {
		color: #fff;
		h1{
		color: #fff;
		}
}
}

.skills{

  .column-skill{
   width: 100%;
   max-width: 420px;

}
}
 

.line{
   margin-top: 0;
   padding-top: 15px;
   border-bottom: 3px solid #D0A947;
   max-width: 400px;
   padding-bottom: 0;
   margin-bottom: 10px;
   

}

// Projects page

.project {
   margin-left: 0;
   padding-left: 0; 

}

.project-img{
margin-top: 5%;
margin-bottom: 2%;
}
.project_intro{
margin-bottom: 5%;
margin-left: 4%;
}
.project-preview{
   ul{
   margin-left: 0;
   padding-left: 0;
   margin-bottom: 0;
   list-style: disc !important;
}
}

 
/* Media queries */
/*-----------------------------------------*/

/* Tablet and up */
@media screen and (min-width: 768px) {

.project {
   li{

   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 95%;
   align-items: center;
   margin-bottom: 5%;
   margin-left: 0;
   margin-right: 0;
   
   .project-preview{
      width: 50%;
       ul{
      list-style: disc !important;
   }
   }
  
   
   }
}


.skills{
   width: 90%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   flex-flow: row wrap;
   .column-skill{
   width: 49%;
}
}

}

